body { 
  margin: 0;
  font-family:  "Roboto", Arial, Helvetica, sans-serif;
}


header {
  background-color: rgb(63, 173, 63);
  padding: 14px;
  color: white;
  text-align: center;
}

.container {
  max-width: 100%;
  padding: 0 10px; 
  margin: 0 auto;
}

.header {
  text-align: center;
}

@media (max-width: 100%) {
  header {
    padding: 14px 0; 
  }
  
  .container {
    padding: 0 5px;
  }
}

.grid-celular {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 10px; 
}

.column-1 {
  padding: 10px;
  margin: auto;
  margin-left: 100px;
  text-align: center;
}

.column-2 {
  padding: 30px;
  margin: auto;
  text-align: center;
}

.column-3{
  text-align: center;
}

.column-1 img {
  max-width: 30%;
  height: auto;
  max-height: 80vh; 
}

.column-2 img {
  max-width: 100%;
  height: auto;
  max-height: 100vh; 
}

.container {
  padding: 2px 16px;
}

/* Para logos  */

.container-1 {
  padding: 50px;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.column-3 {
  flex: 1; 
  padding: 10px;
  text-align: center;
}

.cel {
  height: auto;
  max-height: 100px;
}

/* Cards informacion  */
.grid-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: #a7ada8;
  padding: 50px;
  text-align: center;
}

.card {
  padding: 40px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-titulo {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container2 {
  justify-content: center;
  align-items: center;
}

img {
  max-width: 50%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

.hero-text {
  text-align: center;
}

h1 {
  margin:-120px 0 51px; 
  font-size: 56px;
  color: green;
}

.hero-image {

  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.heroimage img {
  width: 50%;
}

.container-3 {
  max-width: 960px; 
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex: 1;
  padding: 10px 10px;
  box-sizing: border-box;
}

.card-1 {
  padding: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.card-1 img {
  border-radius: 50%;
  max-width: 60%;
  height: auto;
  margin-bottom: 10px;
}  

.container-4{
  display: flex;
  justify-content: center;
}

.container-4 img{
  flex: 1;
  max-width: 35%;
  height: auto;
  margin:  0px -70px 30px;
}

.container-4 img:last-child {
  margin-right: 0; 
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  background-color: gainsboro;
  padding: 100px 200px;
}

.footer-column {
  flex: 1 1 50%;
  margin-bottom: 20px;
  justify-content: center;
}

.footer-text {
  margin-bottom: 10px;
}

.footer-column p {
  margin: 0;
}

.social-icons {
  display: flex;
}

.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}